#hidden { visibility: hidden; }

#nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    background: linear-gradient(#710824, #6C0722, #660620, #63061F, #5E051D);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
}

#search input {
    height: 30px;
    background-color: black;
    margin-right: 10px;
    border: none;
    color: white;
    padding-left: 5px;
    outline: none;
}

#search i {
    /* Doesn't make sense to me either, but this made it the perfect size */
    font-size: 171%;
    cursor: pointer;
}

#search-results {
    margin-top: 20px;
    border-bottom: #5E051D;
}

.search-table {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin: 2px;
}

.search-table:hover {
    cursor: pointer;
    background-color: #710824;
}

/* TODO: remove this*/
#nav button {
    margin-left: 20px;
}

.fas.fa-home {
    color: black;
    margin-left: 10px;
    display: none;
    cursor: pointer;
}

.reader-view {
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    overflow-y: auto;
    color: white;
}

#reader { z-index: 1; }

.link:hover, .link-read:hover {
    text-decoration: underline;
    cursor: pointer;
}

.link-read {
    color: #808080;
}

.carousel-outer {
    overflow-x: auto;
    width: 100%;
    height: auto;
    color: white;
}

.carousel-inner {
    display: flex;
    flex-direction: row;
    margin: 20px;
    color: white;
    text-align: center;
}

.section-title {
    font-size: 2vh;
    font-weight: bold;
    margin: 15px 0 0 2vw;
}

.section-desc {
    width: 100%;
    margin-top: 10px;
}

.section-desc_options span:nth-child(odd) {
    margin-left: 10px;
}

.section-desc_options span:nth-child(even) {
    margin-left: 3px;
}

.desc-title {
    background: linear-gradient(#710824, #6C0722, #660620, #63061F, #5E051D);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 100%;
}

.desc-title p {
    margin: 0;
    font-weight: bold;
}

.desc-info {
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: #5E051D 2px solid;
}

.desc-info p {
    margin: 3px;
}

.issue-container {
    padding: 12px;
    column-count: 3;
    color: white;
    border: #5E051D 2px solid;
    text-align: center;
}

.issue-container span {
    display: block;
}
/*SCROLL BAR*/

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    border-radius: 15px;
}

::-webkit-scrollbar-track {
    background: #2b2829;
    border-radius: 15px;
}

::-webkit-scrollbar-track:hover {
    background: #4a4948;
}

::-webkit-scrollbar-thumb {
    background: #47060c;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: #710824;
}