#hidden { visibility: hidden; }

i:hover {
    color: #920223;
    cursor: pointer;
}

form {
    display: flex;
}

/*General Styles*/

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.jc-c {
    justify-content: center;
}

.jc-sa {
    justify-content: space-around;
}

.jc-sb {
    justify-content: space-between;
}

.ai-c {
    align-items: center;
}

.overflow-h {
    overflow: hidden;
}

#nav, #titlebar {
    position: absolute;
    left: 0;
    right: 0;
    /*background: linear-gradient(#c60229, #6C0722, #660620, #63061F, #5E051D);*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav {
    top: 15px;
    background: linear-gradient(to bottom, #e90335 0%,#c60229 44%,#920223 100%);
    height: 55px;
}

#titlebar {
    top: 0;
    background-color: #e90335;
    height: 15px;
    font-size: 12px;
}

#title-notification {
    width: 80%;
    height: 15px;
    -webkit-app-region: drag;
}

#title-buttons {
    margin-left: 5px;
    padding-right: 5px;
    width: 10%;
}

#title-buttons p {
    display: inline;
}

#title-buttons .fa-download {
    position: relative;
    top: 2px;
    left: -2px;
}

#window-buttons {
    margin-right: 5px;
    width: 10%;
    text-align: right;
}

#titlebar .fas {
    padding-left: 5px;
}

#search, #paginate {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
}

#search {
    display: block;
}

#search input, #paginate select {
    height: 30px;
    background-color: black;
    margin-right: 10px;
    border: none;
    color: white;
    padding-left: 5px;
    outline: none;
}

#search i, #paginate i {
    /* Doesn't make sense to me either, but this made it the perfect size */
    font-size: 171%;
    cursor: pointer;
}

#lists {
    transition: width 1s;
    background-color: black;
    z-index: 3;
    width: 0;
    border: 1px solid #920223;
    position: absolute;
    top: 115px;
    right: 0;
    outline: none;
    color: white;
    white-space: nowrap;
    overflow: auto;
}

#list-create_title {
    line-height: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 125px;
}

#list-create_title:hover { color: #920223; cursor: pointer; }

#paginate {
    display: none;
}

#title {
    display: none;
    color: white;
    font-size: 3vh;
}

#readinglist, #recent {
    display: none;
}

#search-results {
    border-bottom: #5E051D 2px solid;
}

.search-table {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin: 2px;
}

.search-table:hover {
    cursor: pointer;
    background-color: #c60229;
}

/* TODO: remove this*/
#nav button {
    margin-left: 20px;
}

#home-download {
    visibility: hidden;
}

.downloaded {
    display: none;
}

.fa-home {
    color: black;
    margin-left: 10px;
    cursor: pointer;
}

.fa-download {
    margin-left: 7px;
    cursor: pointer;
    overflow: hidden;
}

.fa-list.fa-2x {
    margin-left: 7px;
}

.title-menu_container {
    width: 220px;
    overflow: hidden;
}

.title-menu {
    padding-left: 5px;
    width: 220px;
    transform: translateX(-100px);
    transition: transform 1s;
}

.fa-arrows-alt, .fa-arrows-alt-h {
    margin-left: 5px;
    transition: transform 1s;
    cursor: pointer;
}

.addGroup {
    margin: 0 25px;
    overflow: hidden;
}

.addGroup-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    line-height: 0;
}

#group-name, #list-name {
    border: 1px solid red;
    background-color: black;
    color: white;
    outline: none;
    padding-left: 5px;
}

#groupButton, #listButton {
    background: linear-gradient(to bottom, #e90335 0%,#c60229 44%,#920223 100%);
    border: none;
}

.addGroup-icons > div .fa-plus {
    transition: transform 1s;
}

.addGroup-icons_p {
    margin-left: 5px;
}

.addGroup-icons > div:hover {
    color: #920223;
}

.addGroup-groupName {
    width: 235px;
    margin-top: 1px;
    overflow: hidden;
}

.addGroup-groupName_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 235px;
    transform: translateY(-25px);
    transition: transform 1s;
}

.menu-icons-container {
    margin-left: 5px;
    cursor: pointer;
}

.menu-icons-container:hover > div {
    background-color: #920223;
}

.menu-icons {
    width: 15px;
    background-color: white;
    height: 2px;
    margin: 2px;
    cursor: pointer;
}

.menu-icons:hover {
    color: #920223;
}

.fa-trash-alt {
    color: #920223;
    margin-left: 5px;
}

.fa-trash-alt:hover {
    color: white;
}

.delete-menu {
    display: none;
    flex-direction: row;
    align-items: center;
    font-size: 60%;
    line-height: 0;
}

.fa-arrows-alt,
  .fa-arrows-alt-h,
  .fa-trash-alt {
    cursor: pointer;
}

.fa-arrow-circle-left, .fa-arrow-circle-right {
    transition: transform 1s;
    transform: translateY(-20px);
}

.bar-animate_top_open {
    animation: topAnimate_open 1s forwards;
}

.bar-animate_top_close {
    animation: topAnimate_close 1s forwards;
}

.bar-animate_middle_open {
    animation: midAnimate_open 1s forwards;
}

.bar-animate_middle_close {
    animation: midAnimate_close 1s forwards;
}

.bar-animate_bot_open {
    animation: bottomAnimate_open 1s forwards;
}

.bar-animate_bot_close {
    animation: bottomAnimate_close 1s forwards;
}


.reader-view {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    overflow-y: auto;
    color: white;
}

#reader { z-index: 1; }

.link:hover, .link-read:hover {
    text-decoration: underline;
    color: #920223;
    cursor: pointer;
}

.link-read {
    color: #808080;
}

.carousel-outer {
    overflow-x: auto;
    width: 100%;
    height: auto;
    color: white;
}

.carousel-inner {
    display: flex;
    flex-direction: row;
    margin: 20px;
    color: white;
    text-align: center;
}

.section-title {
    font-size: 2vh;
    font-weight: bold;
    margin: 15px 0 0 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-title.downloaded {
    display: none;
}

.section-desc {
    width: 100%;
    margin-top: 10px;
}

.section-desc_options span:nth-child(odd) {
    margin-left: 10px;
}

.section-desc_options span:nth-child(even) {
    margin-left: 3px;
}
.desc-title {
    /*background: linear-gradient(#c60229, #6C0722, #660620, #63061F, #5E051D);*/
    background: linear-gradient(to bottom, #e90335 0%,#c60229 44%,#920223 100%);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.desc-title p {
    margin: 0;
    font-weight: bold;
}

.desc-info {
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: #5E051D 2px solid;
}

.desc-info p {
    margin: 3px;
}

.issue-container, .group-container {
    padding: 12px;
    column-count: 5;
    color: white;
    border: #5E051D 2px solid;
    text-align: center;
}

.issue-container span, .group-container span {
    display: block;
}

.right-side_options > div {
    margin-left: 10px;
}

.right-side_options > div i {
    margin-left: 10px;
    margin-right: 3px;
}

.arrow-div {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    align-items: center;
}

.loader {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader span {
    color: #920223;
}

/*ANIMATIONS*/

@keyframes topAnimate_open {
    from { margin-bottom: 2px; transform: rotate(0deg); }
    to { margin-bottom: -4px; transform: rotate(45deg); }
}

@keyframes topAnimate_close {
    from { margin-bottom: -4px; transform: rotate(45deg); }
    to { margin-bottom: 2px; transform: rotate(0deg); }
}

@keyframes midAnimate_open {
    from { height: 2px; }
    to { height: 0; }
}

@keyframes midAnimate_close {
    from { height: 0; }
    to { height: 2px; }
}

@keyframes bottomAnimate_open {
    from { margin-top: 2px; transform: rotate(0deg); }
    to { margin-top: -2px; transform: rotate(-45deg); }
}

@keyframes bottomAnimate_close {
    from { margin-top: -2px; transform: rotate(-45deg); }
    to { margin-top: 2px; transform: rotate(0deg); }
}

/*SCROLL BAR*/

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    border-radius: 15px;
}

::-webkit-scrollbar-track {
    background: #2b2829;
    border-radius: 15px;
}

::-webkit-scrollbar-track:hover {
    background: #4a4948;
}

::-webkit-scrollbar-thumb {
    background: #920223;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: #c60229;
}